.container {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.certificateBlock {
  flex: .4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  color: white;
  .icon {
    font-size: 45px;
    color: #488602;
  }

  span {
    font-size: 20px;
  }
}

.descriptionBlock {
  flex: .4;
  color: white;
  font-size: 24px;
  h2 {
    color: white;
    line-height: 1.2;
  }

  p {
    font-size: 18px;
  }
}