.container {
  //margin: 200px auto;
  width: 600px;
  min-height: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background: #fff;
}

.wgreen {
  background-color: hsl(105deg 56% 50%);
  color: #fff;
}

.wblack {

}

.wpassed {
  color: green;
}

.wred {
  background-color: #750a0a;
  color: #fff;
}